   .joseph-beuys__paragraph-city {

    width: 100%;
    max-width: 56.25%;
    margin-top: 42px;
    margin-left: 10%;
    
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
    color: #ffffff;

   }

 
    @media screen and (max-width:1024px) {
    .joseph-beuys__paragraph-city {
    max-width: 93.75%;
    margin: 40px auto;
   }
   
   }

   @media screen and (max-width: 544px){
   .joseph-beuys__paragraph-city {
   max-width: 90%;
   font-size: 16px;
   line-height: 1.25;
   
   }

   }

    

 






