    .footer__copy {
    margin: 92px 0 24px;
    color: #ffffff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.14;
   
}

    @media screen and (max-width: 1024px){
    .footer__copy {
    margin-top: 88px;
    }
}

    @media screen and (max-width: 544px) {
    .footer__copy {
    margin-top: 64px;
    }
}

 
