
    .logo_place_header {
      width: 100%;
      height: 70px;
      margin-top: 34px;
       
    }





@media screen and (max-width: 544px) {
    .logo_place_header {
      max-width: 62.5%;
      margin: 20px 60px 0;
    }


}