
  .header__logo {
  margin: 34px auto auto;
  width: 100%;
  height: 70px;
  
       
  }





  @media screen and (max-width: 544px) {
  .header__logo {
  max-width: 62.5%;
  margin: 20px 60px 0;
    }


}