    .section__NFT {
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
    width: 315px;
    height: 22px;
    grid-area: NFT;


    
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    color: #FFFFFF;

    padding: 13px 20px;
    background: #0278FE;
    border-radius: 4px;
    }

    .section__NFT:hover {
    background: #0063D2;
    }



    @media screen and (max-width: 544px) {
    .section__NFT{
    font-size: 14px;
    width: auto;
    }

    }


