.cover__filter {
    background-image: url(/images/__background.jpg);
    background-repeat: no-repeat;
    position: relative;
    max-width: 92.5%;
    height: 740px;
    display: flex;
    margin: 92px auto auto;
    background-position: center;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.cover__filter::before {
    opacity: 0.3;
    content: "";
    background-color: #2a2c2f;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
}

.cover__filter:hover::before {
    opacity: 0.8;
}

@media screen and (max-width: 1024px) {
    .cover__filter {
      max-width: 100%; 
      margin-top: 42px;
   
   
    }


}

@media screen and (max-width: 544px) {
    .cover__filter {
       width: 100%;
       height: 254px;
    }
}
