
    .header__title {
        width: 100%;
        max-width: 61.95%;
        margin: 90px auto 32px;
        text-align: center;
        

        font-family:'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 96px;
        line-height: 1.04;
        color: #ffffff;
    }
    



@media screen and (max-width: 1024px) {
    .header__title {
        width: auto;
        max-width: 93.75%;

    }

}

@media screen and (max-width: 544px){
    .header__title {
        font-size: 40px;
        line-height: 1.1;
    }

}
    







