.section__title {
   width: 460px;
   
    margin: 92px 0 48px;
    grid-area: title;
   

    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.05;
    


    color: #FFFFFF;
}

@media screen and (max-width: 1024px){
    .section__title {
    width: 340px;
    font-size: 42px;
    margin: auto;
  
        
       
        
        
    }
}

@media screen and (max-width: 544px){
    .section__title {
    font-size: 32px;
    width: 288px;
    margin: 50px 0 0;
       
    }
}